{% extends 'layout.html' %}

{% block content %}
<div>

  <h1>Add Office:</h1>
  <form>

    <div class="form-group">
      <label for="addOffices">Add Offices</label>
      <input type="number" class="form-control" id="payrollNumber" placeholder="Number of Offices">
    </div>
    <div class="form-group">
      <label for="addSeats">Add Seats</label>
      <input type="number" class="form-control" id="addSeats" placeholder="Number of Seats">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}