{% extends 'layout.html.twig' %}

{% block content %}
  <!-- displays the form to add N number of offices and the desired number of seats -->
  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
  {{ form(form) }}
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Office Id</th>
      <th>Number of Seats</th>
    </tr>
    </thead>
    <tbody>
    <!-- displays a table of existing offices -->
    {% for tableResult in tableResults %}
      <tr>
        <td>Office {{ tableResult.getId() }} </td>
        <td>{{ tableResult.getOfficeSeats() }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}