{% extends 'layout.html.twig' %}
{% block content %}
    <!-- displays the homepage -->
<div>
<h2>Welcome to the booking system!</h2>

<p style="line-height: 20px">
    <p>Before creating a booking please go to the 'Add Employee' page to add an employee.</p>

    <p>To add a specific number of offices, please go to the 'Add Office' page and enter in your desired number of offices accompanied with the number of seats your office has.</p>

    <p>Once you have added an office and employees, you will be able to make a booking for a specific seat for an hour or the whole day.</p>

    <p>Any queries please email me at <a href="mailto:tomasz.dob@hotmail.com">tomasz.dob@hotmail.com</a></p>
</p>

</div>

{% endblock %}